@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=PT+Sans&display=swap');

body {
    margin: 0;
    min-width: 300px;
}

.header {
    background-color: rgb(0, 110, 255);
    color:white;
    display: flex;
    justify-content: space-around;  
    height: 200px;
    width: 100%;
    opacity: 0.8;
}

.header-company {
    display: flex;
    justify-content: start;
    align-items: center;
}

.header-company-logo {
    width: 125px;
    height: 125px;
    padding: 10px;
}

.header-numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu {
    background-color: rgb(39, 18, 18);
    height: 90px;
}

.menu-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;   
    margin-top: 0;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    padding-left: 0;
}

.menu-list-item {
    color: white;
    font-size: 28px;
    text-decoration: none;
}

.slider {
    width: 100%; 
}

.content {
    display: flex;
    gap:5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 10%;
}

.content-news {
    flex: 1;
    background-color: rgb(151, 123, 123);
    color: white;
}

.content-news-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-right: 20%;
}

.content-news-archive {
    margin-left: 60%;
    color: white;
}

.content-description {
    flex: 2;
}

.footer {
    display: flex;
    justify-content:space-between;
    background-color: rgb(0, 110, 255);
    height: 200px;
    width: 100%;
    opacity: 0.8;
    padding-top: 40px;
}

.footer-email {
    flex: 1;
    margin-left: 20%;
}

.footer-list {
    flex:1;
    list-style-type: none;
}

.footer-devs-info {
    flex: 1;
    display: flex;
    justify-content: start;  
}

.footer-devs-info-logo {
    width: 40px;
    height: 40px;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 16px;
}

p, h1, h2, a, li {
    font-family: 'PT Sans', sans-serif;
}

p {
    font-size: 14px;
    line-height: 22px;
}

@media (max-width : 768px) {
    .header {
        height: 300px;
        flex-direction: column;
        align-items: center;
    }

    .menu {
        height: 100%;
    }

    .menu-list {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0; 
    }

    .slider {
        width: 100%; 
        height: 250px;
    }

    .content {
        flex-direction: column;
    }

    .footer {
        padding-top: 0;
        height: 300px;
        flex-direction: column;
        align-items: center;
    }

    .footer-email {
        margin-left: 0;
    }

    .footer-list {
        padding-left: 0;
    }

    .footer-devs-info {
        margin-top: 15px;
    }
}
